<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__grid">
      <div class="footer__item">
        <h3 class="footer__title">Links</h3>
        <ul class="footer__list">
          <li class="footer__link"><a href="#">Inicio</a></li>
          <li class="footer__link"><a href="#">Categorias</a></li>
          <li class="footer__link"><a href="#">Conocenos</a></li>
          <li class="footer__link"><a href="#">Servicios</a></li>
          <li class="footer__link"><a href="#">Productos</a></li>
          <li class="footer__link"><a href="#">Contactenos</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Suscripción</h3>
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        </p>
        <form class="footer__form" action="#" method="post">
          <input class="input" type="text" placeholder="Correo electronico" />
          <input class="button" type="submit" value="Enviar" />
        </form>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Redes sociales</h3>
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          debitis Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="footer__networks social-networks">
          <a class="social-networks__item" href="#"
            ><i class="fab fa-facebook-f"></i></a
          ><a class="social-networks__item" href="#"
            ><i class="fab fa-instagram"></i></a
          ><a class="social-networks__item" href="#"
            ><i class="fab fa-twitter"></i></a
          ><a class="social-networks__item" href="#"
            ><i class="fab fa-youtube"></i></a
          ><a class="social-networks__item" href="#"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="credits">
    <div class="credits__container container">
      <p class="credits__paragraph">
        Desarrollado por <a href="#">Andy Alexis Mariños Rodriguez</a>
      </p>
    </div>
  </div>
</footer>
